.navigation{
    width: 100%;
    position: fixed;
    background-color: rgb(39, 42, 43);
    top: 0;
    z-index: 99;
}
.navigation_bar{
    padding: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    align-items: center;
    z-index: 99;
}
.nav_left a{
    color: white;
    text-decoration: none;
    margin-right: 35px;
    letter-spacing: 1.2px;
}
.nav_right a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    word-spacing: 10px;
    letter-spacing: 1.8px;
}
.nav_right span{
    color: red;
    font-size: 33px;
    font-weight: 600;
}
.profile img{
    width: 50px;
    border-radius: 50px;
}
.nav_left{
    display:  flex;
    align-items: center;
}
.myBtn{
    background-color: rgb(39, 42, 43);
    border: none;
    cursor: pointer;
}
.myBtn:focus{
    outline: none;
}
.my-modal{
    position: absolute;
    left: 0;
    margin: 10% 100%;
    width: 350px;
}
.img{
    border-radius: 5px;
}